<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../css/style.css" />
        <title>BEVS - Inicio de sesión</title>
    </head>

    <body>
        <!-- FONDO -->
        <div class="contenedor-fondo">
            <div class="contenedor-flotante">
                <div class="mancha-suave mancha-1"></div>
                <div class="mancha-suave mancha-2"></div>
                <div class="mancha-suave mancha-3"></div>
                <div class="mancha-suave mancha-4"></div>
            </div>
        </div>

        <div class="contenedor-principal">
            <!-- PANEL IZQUIERDO -->
            <div class="panel-info">
                <img src="../../BE.png" class="logo-bevs logo-dark" alt="Logo BEVS" />

                <h1 class="titulo-info">¡Bienvenido a BEVS TurnoBank!</h1>

                <p class="texto-info">
                    Tu turno, más fácil y rápido. Gestiona tus reservas de forma eficiente y sin complicaciones.
                </p>
            </div>

            <!-- LOGIN -->
            <div class="contenedor-login">
                <div class="carta">
                    <div class="header">
                        <h1 class="titulo">BEVS</h1>
                        <p class="subtitulo">Sistema de Gestión de Turnos</p>
                    </div>

                    <form class="contenedor-formulario" id="login-formulario">
                        <!-- EMAIL -->
                        <div class="caja-login">
                            <input type="email" id="email" name="email" required autocomplete="email" placeholder=" " />
                            <label for="email">Correo electrónico</label>
                        </div>
                        <span class="contenedor-error" id="emailError"></span>

                        <!-- PASSWORD -->
                        <div class="caja-login">
                            <input type="password" id="password" name="password" required placeholder=" " />
                            <label for="password">Contraseña</label>
                        </div>
                        <span class="contenedor-error" id="passwordError"></span>

                        <a href="#" class="enlace-comodo">¿Olvidaste tu contraseña?</a>

                        <button type="submit" class="boton-login">Ingresar</button>
                    </form>

                    <div class="contenedor-registro">
                        <span>¿No tienes una cuenta?</span>
                        <a href="../registro/registro.html" class="registro-enlace">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="../../js/login.js"></script>
    </body>
</html>
