<div id="step-2" class="step-content" style="display: none">
    <h1 class="step-title">¿Qué quieres hacer?</h1>
    <div class="option-list">
        <div class="procedure-card" onclick="selectProcedure('Trámites Generales')">
            <div class="card-header">
                <i class="fas fa-user-check icon-card"></i>
                <div class="header-text">
                    <h3>Trámites generales</h3>
                    <ul>
                        <li>Solicitar certificados</li>
                        <li>Entregar y activar tarjetas</li>
                        <li>Actualizar datos personales</li>
                    </ul>
                </div>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
        </div>

        <div class="procedure-card compact" onclick="selectProcedure('Documentos')">
            <div class="card-header">
                <i class="fas fa-file-alt icon-card"></i>
                <h3>Solicitar documentos</h3>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
        </div>

        <div class="procedure-card" onclick="selectProcedure('Caja')">
            <div class="card-header">
                <i class="fas fa-cash-register icon-card"></i>
                <div class="header-text">
                    <h3>Transacciones en caja</h3>
                    <ul>
                        <li>Enviar, retirar y recibir plata</li>
                        <li>Realizar pagos y giros</li>
                    </ul>
                </div>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
        </div>
    </div>
</div>
