# Puerto del servicio
PORT=3002

# Configuración MongoDB
SERVER_DB=
USER_DB=
PASS_DB=
DB_NAME=db-turno

# Clave para JWT
JWT_SECRET=your_jwt_secret

RABBITMQ_URL=
RABBITMQ_EXCHANGE=
RABBITMQ_ROUTING_KEY=