# Puerto del servicio
PORT=3002

# Configuración MongoDB
SERVER_DB=
USER_DB=
PASS_DB=
DB_NAME=db-turno

RABBITMQ_URL=

RABBITMQ_EXCHANGE=
RABBITMQ_QUEUE=
RABBITMQ_ROUTING_KEY=

RABBITMQ_DLX_EXCHANGE=
RABBITMQ_DLX_QUEUE=