# Configuración del Gateway
PORT=3000

# Servicios (Nombres de host internos de Docker)
AUTH_SERVICE_HOST=
AUTH_SERVICE_PORT=
SUCURSAL_SERVICE_HOST=
SUCURSAL_SERVICE_PORT=
TURNO_SERVICE_HOST=
TURNO_SERVICE_PORT=
NOTIFICACION_SERVICE_HOST=
NOTIFICACION_SERVICE_PORT=